# Python
backend/.venv/
backend/__pycache__/
backend/routers/__pycache__/
backend/*.pyc
backend/papairus.db
backend/uploads/*
!backend/uploads/.gitkeep

# Next.js
frontend/.next/
frontend/node_modules/
frontend/.env.local

# Misc
.DS_Store
*.log

.env